.at-form {
	text-align: center;
}

.at-form h3 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 2em;
}

.at-form input {
	font-size: 1em;
	padding: .5em;
	margin-bottom: .5em;
	width: 60%;
	background: #fff;
	border: 1px solid #F0F0F0;
}

.at-form input:focus {
	border: 1px solid #2CAAE1;
	box-shadow: none;
	outline: none;
}

.at-form label {
	display: none;
}

.at-form button {
	background: #ea5906;
	color: #fff;
	margin-top: .5em;
	padding: .8em 1em;
	font-size: 1em;
	border-radius: 4px;
	text-transform: uppercase;
	border: none;
}

.at-signup-link, .at-signin-link {
	margin-top: 3em;
	color: #777;
}

.at-signup-link a, .at-signin-link a {
	color: #2caae1;
}