.hiddenRow {
  display: none;
}

ul.results {
	list-style:none;
}

.resultRow section {
	border-bottom: 1px solid #F0F0F0;
	padding: 1.5em;
	text-align: center;
}

.resultRow section p {
	display: inline-block;
}

.team {
	width: 35%;
	font-size: .8em;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.score {
	width: 60px;
	font-size: 1.2em;
}

.team1 {
	text-align: right;
}

.team2 {
	text-align: left;
}