/* --- RESULTS ROW NOT HIDDEN --- */

/* Sub nav */
header.header-sub-nav {
	padding-top: .5em;
}

.hidden {
	display: none;
}
/* Round block */
.results {
	background: #F0F0F0;
}

.round-block {
	margin-bottom: 1em;
	background: #fff;
}

/* Meta-data */
.field {
	background: #F0F0F0;
	border-radius: 4px;
	padding: .2em;
	color: grey;
	font-size: .6em;
}

.score-time {
	font-size: .83em;
}

/* Result list */
ul.results {
	list-style:none;
}

.resultRow {
	border-bottom: 1px solid #F0F0F0;
	overflow-y: scroll;
}

.resultRowShow {
	padding: 1em 0;
}

.resultRow p {
	display: inline-block;
}

.team-name {
	font-size: .6em;
}

/* Round number */
.round-heading {
	width: 100%;
	border-bottom: 1px solid #F0F0F0;
	padding: 2em 1em 1em 1em;
}

.round-heading h2 {
	text-transform: uppercase;
	font-weight: bold;
}

/* --- HIDDEN ROW --- */
.hiddenRow {
  display: none;
}

.hidden-field {
	background: #fff;
	border-radius: 4px;
	padding: .2em;
	color: grey;
	border: 1px solid #fff;
	font-size: .6em;
}

.hiddenRow i {
	display: block;
	font-size: 3em;
}

.hiddenRow h2 {
	font-size: .8em;
}

.hiddenRow button {
	padding: .3em .6em;
}

.hiddenRow span {
	font-size: 5em;
	margin: 0 .3em;
}

li.show .resultRowShow {
	display: none;
}

table {
	width: 100%;
}

/* Hidden Row Meta Data */
.meta-data {
	position:absolute;
	z-index: 99;
	top: 1em;
	color: #fff;
	left: 50%;
	transform: translateX(-50%);
}

/* Close hidden row */
.resultRow {
	position: relative;
}

.hiddenRow .close-hidden-row {
	font-size: 1.5em;
	position: absolute;
	top: .5em;
	right: .5em;
	color: #fff;
	z-index: 9999;
}

/* Color picker */
select.color-picker {
	border: 1px solid #fff;
	background: none;
	margin-bottom: 1em;
}

select.color-picker:focus {
	outline: none;
}

.team1 p span, .team2 p span {
	line-height: 1;
}

.team2 {
	color: #fff;
	padding: 5em 0;
	background: #2caae1;
}

.team1 {
	color: #fff;
	padding: 5em 0;
	background: #E2B001;
}

/* Submit score button */
.submit-score {
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	width: 12em;
}

.submit-score:hover, .submit-score:visited, .submit-score:active, .submit-score:focus {
	color: #fff;
	text-decoration: none;
}

.hiddenRow .submit-score i {
  font-size: 1em;
  display: inline-block;
}

/* No games feedback */
#nothingFound {
	text-align: center;
    margin-top: 2em;
    font-size: 1.5em;
    color: grey;
}

#nothingFound i {
	font-size: 3em;
	margin-bottom: .2em;
}

/* Finalize game pop-up */
.noty_bar {
	position: absolute;
	background: #fff;
	left: 50%;
	top: 200px;
	text-align: center;
	transform: translateX(-50%);
	padding: 1em;
	-webkit-box-shadow: 0 0 0 1920px rgba(0,0,0,.5);
	box-shadow: 0 0 0 1920px rgba(0,0,0,.5);
}

.noty_buttons {
	text-align: center!important;
	border: none!important;
}

.btn-primary {
	background: #ea5906;
	color: #fff;
	margin-top: .5em;
	padding: .8em 1em;
	font-size: 1em;
	border-radius: 4px;
	text-transform: uppercase;
	border: 1px solid #ea5906;
}

.btn-danger {
	background: #fff;
	color: grey;
	margin-top: .5em;
	padding: .8em 1em;
	font-size: 1em;
	border-radius: 4px;
	text-transform: uppercase;
	border: 1px solid grey;
}

.btn-primary:hover, .btn-primary:visited, .btn-primary:focus, .btn-primary:active {
	background: #ea5906!important;
	border: 1px solid #ea5906;
}

.btn-danger:hover, .btn-danger:visited, .btn-danger:focus, .btn-danger:active {
	background: #fff!important;
	border: 1px solid grey;
	color: grey;
}
