<template name="settings">
  {{#if currentUser}}
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center">
        <h3>Add a new tournament</h3>

        <form>
          <div class="at-input">
            <input id="formTournamentId" type="number" placeholder="tournamentID"/>
          </div>
          <div class="at-input">
            <input id="formTournamentName" type="text" placeholder="Tournament name"/>
          </div>
            <button id="formSubmit" class="button">Submit</button>
        </form>

        <section>
          <h1>Create a score keeper account</h1>
          {{>register}}
        </section>

        <h3>Active tournaments</h3>

        <table class="active-tournaments">
          <tbody>
            {{#each tournaments}}
              <tr>
                <td><p>{{name}}</p></td>
                <th class="active-delete"><a href="" class="deleteButton"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></th>
              </tr>
            {{/each}}
          </tbody>
        </table>

      </div>
    </div>
    {{else}}
        <h1>Please log in to use this function</h1>
  {{/if}}
</template>
